{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style = "height: 91.5%;padding-top: 1rem;background-color: #E6E6E6;">
        <form action="{% url 'items_app:delete_items' %}" method = "post">
		{% csrf_token %}
			<div class="form-group row">
				<label class="control-label col-md-2" style = "font-weight: bold;" for="item_name">Item Name:</label>
				<div class="col-md-4">
					<select class="form-control" id="item_name" name="item_name">
					    {% if itemss %}
						    {% for item in itemss %}
							    {% if item_grp and item_grp.item_name == item.item_name %}
                                    <option selected>{{ item.item_name }}</option>
								{% else %}
							        <option>{{ item.item_name }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</form>
	{% if error_message %}
	<div class="alert alert-danger" role="alert">
		<strong>Error!!</strong> {{ error_message }}
	</div>
	{% endif %}
	{% if success_message %}
	<div class="alert alert-success" role="alert">
		<strong>Success!!</strong> {{ success_message }}
	</div>
	{% endif %}
</div>
{% endblock %}