{% extends 'base.html' %}
{% block content %}
<script>
var check_count = 0
function post() {
    method = "post";

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var params = []
    params.push({
	"csrfmiddlewaretoken": Cookies.get('csrftoken')
	});
	params.push({
	"client_name": document.getElementById('client').value
	});
	params.push({
	"date": document.getElementById('date').value
	});
	params.push({
	"remaining_payment": document.getElementById('amount').value
	});
	trContents=document.getElementById('tableDiv').getElementsByTagName('tr');
    if(trContents.length>1)
    {
	    var tbl = []
        for(i=1;i<trContents.length;i++)
		{
			if(trContents[i].innerHTML && trContents[i].getElementsByTagName('td')[0].getElementsByTagName('input')[0].checked == true)
			{
			    var tbr = []
	            tbr.push({
                "challan_no": trContents[i].getElementsByTagName('td')[1].innerHTML
	            });
	            tbr.push({
                "type": trContents[i].getElementsByTagName('td')[3].innerHTML
	            });
				tbl.push({
			    "key":trContents[i].getElementsByTagName('td')[1].innerHTML,"value": tbr
			    });
			}
		}
		params.push({
		"table": tbl
		});
	}
	//alert(params);
	//alert(JSON.stringify(params))
	var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "{% url 'payment_app:add_payment' %}", true);
    xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
    xhttp.send(JSON.stringify(params));
	xhttp.onreadystatechange = function() {
	document.open();
	document.write(this.responseText);
	document.close();
    }
	}
	function checkChange(checkbox) {
    if(checkbox.checked == true){
        if(document.getElementById("amount").value < parseFloat(checkbox.parentNode.parentNode.getElementsByTagName('td')[7].innerHTML))
		{    
		    alert('Cant add this challan as amount is less')
			checkbox.checked = false
			return
		}
		check_count = check_count +1
		document.getElementById("amount").value = parseFloat(document.getElementById("amount").value) - parseFloat(checkbox.parentNode.parentNode.getElementsByTagName('td')[7].innerHTML)
		document.getElementById("selected_amount").value = parseFloat(document.getElementById("selected_amount").value) + parseFloat(checkbox.parentNode.parentNode.getElementsByTagName('td')[7].innerHTML)
    }else{
	    check_count = check_count -1
		document.getElementById("amount").value = parseFloat(document.getElementById("amount").value) + parseFloat(checkbox.parentNode.parentNode.getElementsByTagName('td')[7].innerHTML)
        document.getElementById("selected_amount").value = parseFloat(document.getElementById("selected_amount").value) - parseFloat(checkbox.parentNode.parentNode.getElementsByTagName('td')[7].innerHTML)
		}
	if(check_count>0)
	{
	    document.getElementById("amount").disabled = true
	}
	else
	{
	    document.getElementById("amount").disabled = false
	}
    }
	
</script>
<div class="container-fluid" style = "height: 91.5%;padding-top: 1rem;background-color: #E6E6E6;">
        <form action="{% url 'payment_app:get_challans' %}" method = "post">
		{% csrf_token %}
			<div class="form-group row">
				<label class="control-label col-md-1" style = "font-weight: bold;" for="date">Date:</label>
				<div class="col-md-3">
				{% if  datetime_chosen %}
				    <input autocomplete="off" type="datetime-local" value = "{{datetime_chosen}}" class="form-control" name="date" id="date" placeholder="Date" required>
				{% elif datetime %}
					<input autocomplete="off" type="datetime-local" value = "{{datetime}}" class="form-control" name="date" id="date" placeholder="Date" required>
                {% else %}
				    <input autocomplete="off" type="datetime-local" class="form-control" name="date" id="date" placeholder="Date" required>
				{% endif %}
				</div>
				<label class="control-label col-md-2" style = "font-weight: bold;" for="client">Client Name:</label>
				<div class="col-md-3">
					<select class="form-control" id="client" name="client">
					    {% if clients %}
						    {% for client in clients %}
							    {% if client_chosen and client_chosen == client.client_name %}
                                    <option value = "{{client.client_name}}" selected>{{ client.client_name }}--{{ client.nickname }}</option>
								{% else %}
							        <option value = "{{client.client_name}}">{{ client.client_name }}--{{ client.nickname }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</div>
				<label class="control-label col-md-1" style = "font-weight: bold;" for="amount">Amount:</label>
				<div class="col-md-2">
					{% if amount_chosen %}
						<input autocomplete="off" type="number" class="form-control" value={{amount_chosen}} name="amount" id="amount" placeholder="Amount" readonly required>
					{% else %}
						<input autocomplete="off" type="number" class="form-control" value=0 name="amount" id="amount" placeholder="Amount" required>
					{% endif %}
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</form>
		<div class="panel panel-default" id="tableDiv">
    <div class="panel-body" style="max-height: 170px;overflow-y: scroll;">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>checkbox</th>
                    <th>challan_no</th>
					<th>Date</th>
					<th>Type</th>
					<th>gross_amount</th>
					<th>GST</th>
					<th>other_amount</th>
					<th>Amount</th>
                </tr>
            </thead>
            <tbody>
			{% if challans %}
			    {% for challan in challans %}
                    <tr>
					    {% if challan.checked %}
                            <td style = "padding:0px;"><input onchange="checkChange(this);" type = "checkbox" checked></input></td>
						{% else %}
						    <td style = "padding:0px;"><input onchange="checkChange(this);" type = "checkbox"></input></td>
						{% endif %}
                        <td style = "padding:0px;">{{challan.challan_no}}</td>
					    <td style = "padding:0px;">{{challan.date}}</td>
						<td style = "padding:0px;">{{challan.type}}</td>
						<td style = "padding:0px;">{{challan.gross_amount}}</td>
						<td style = "padding:0px;">{{challan.gst}}</td>
						<td style = "padding:0px;">{{challan.other_amount}}</td>
					    <td style = "padding:0px;">{{challan.total_amount}}</td>
                </tr>					
 			    {% endfor %}
			{% endif %}
            </tbody>
        </table>
    </div>
	</div>
    </div>
	<div class="form-group row">
		<div class="col-md-10">
			<button type="button" onclick = "post()" class="btn btn-primary">Save</button>
		</div>
	</div>
	<div class="form-group row">
	    <label class="control-label col-md-2" style = "font-weight: bold;" for="total_amount">Total Amount:</label>
		    <div class="col-md-4">
				{% if total_amount %}
					<input autocomplete="off" type="number" value = "{{total_amount}}" class="form-control" name="total_amount" id="total_amount" disabled required>
                {% else %}
				    <input autocomplete="off" type="number" value = 0 class="form-control" name="total_amount" id="total_amount" disabled required>
				{% endif %}
		    </div>
		<label class="control-label col-md-2" style = "font-weight: bold;" for="selected_amount">Selected Amount:</label>
		    <div class="col-md-4">
				    <input autocomplete="off" type="number" value = 0 class="form-control" name="selected_amount" id="selected_amount" disabled required>
		    </div>
	</div>
	
	{% if error_message %}
	<div class="alert alert-danger" role="alert">
		<strong>Error!!</strong> {{ error_message }}
	</div>
	{% endif %}
	{% if success_message %}
	<div class="alert alert-success" role="alert">
		<strong>Success!!</strong> {{ success_message }}
	</div>
	{% endif %}
</div>
{% endblock %}